
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>menu</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
/* Add a black background color to the top navigation */
.topnav {
	background-color: white;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	font-size: 17px;
}

body {
	background-color: lightcyan;
}
</style>
</head>
<body>

	<div style='margin-top: 20px; margin-bottom: 20px'>

		<h1
			style='color: white; background-color: blue; text-align: center; margin-right: 3px; margin-left: 3px'>Student
			EMS</h1>
	</div>
	<div class="row" style="margin: 5px"></div>
	</div>
	<div class="topnav"
		style="border: 2px solid black; margin: 2px; background-color: lightblue; color: white">
		<b> <a class="active" href='home'>Home</a> 
		<a href="register">Register</a> 
			<a href="login">Login</a>
			 <a th:href="@{/logout/}">Logout</a>

		</b>
	</div>





</body>
</html>